body {
    background-color: lightgray;
}

/* Header */

#header .navbar-brand {
    padding: 0rem !important;
}

#header .navbar-nav .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

#header .v-line {
    border-left: .1rem solid rgba(0, 0, 0, 0.55);
    height: 1.5rem;
}

/* Content */

#homepageSearch .container {
    max-width: 1100px;
}
#homepageSearch div.v-line {
    border-left: .1rem solid rgba(0, 0, 0, .55);
    height: 2rem;
}

#homepageSearch .container {
    padding: 0 0 !important;
}

#homepageSearch input::-webkit-input-placeholder {
    background-color: #DDE3EF;
}

#eventInfo .carousel-inner {
    display: flex;
    justify-content: center;
}

#eventInfo .corousel-item {
    
}